<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <%- include('partials/metadata'); -%>
</head>

<body class="container">
  <%- include('partials/header'); -%>

  <div class="form-header">
    <% if (Object.keys(errors).length === 0) { %>
      <h2>Send us a message</h2>
    <% } else { %>
      <h2 class="errors-heading">Oops, please correct the following:</h2>
      <ul class="errors-list">
        <% Object.values(errors).forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <form action="/login" method="POST" novalidate>
    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <% if (errors.emailAddress) { %>
        <div class="error"><%= errors.emailAddress.msg %></div>
      <% } %>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
      <% if (errors.password) { %>
        <div class="error"><%= errors.password.msg %></div>
      <% } %>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <%- include('partials/footer'); -%>
</body>

</html>